--- 
layout: base.njk 
permalink: /blog/ 
---

<h1>Toutes les fiches</h1>

<div class="tags">
  {% include "tags-list.njk" %}
</div>

{% set postslist = collections.posts %}
{% include "posts-list.njk" %}